.c-main {
  background-color: $card-bg;
}

.c-item > * {
  display: inline-block;
  padding-right: 8px;
}

.container {
  width: $mobile-container;
}

.c-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 25px 20px;

  .c-layout:first-child {
    grid-column: span 12;
    padding-bottom: 20px;
  }

  .c-layout {
    h3 {
      display: inline-block;
    }

    button {
      float: right;
      padding: 5px 8px;
    }

    .c-btn__cancel,
    .c-btn__save {
      display: none;
      border: 0;
      background-color: #fff;
      color: #1e88e5;
      font-weight: 700;
      padding: 10px;
      margin-right: 10px;

      :hover {
        cursor: pointer;
      }
    }
  }

  .c-layout:nth-child(2),
  form {
    grid-column: span 6;
  }

  .c-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: small;

    .c-edit {
      display: none;
    }
  }

  .c-item:first-child {
    font-size: medium;
    font-weight: 700;
  }
}

.c-alter__form {
  display: none;
}

@media (min-width: $tablet) {
  .container {
    width: $tablet-container;
  }

  .c-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 25px 20px;

    .c-layout:first-child {
      grid-column: span 12;
      padding-bottom: 20px;

      button {
        display: none;
      }
    }

    .c-layout:nth-child(2),
    form {
      grid-column: span 6;
    }

    .c-item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      font-size: small;

      .c-edit {
        display: block;
      }
    }

    .c-item:first-child {
      font-size: medium;
      font-weight: 700;
    }
  }
}
