.c-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 10px;
  }

  li:hover {
    cursor: pointer;
  }

  .active:after {
    content: '';
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    border-bottom: 2px solid black;
  }
}

.c-nav {
  border-top: 2px solid #000;
  padding-top: 5px;
  margin-top: 10px;

  li {
    padding-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .c-nav {
    border: 0;
    padding-top: 0;
    margin-top: 0;

    li {
      padding-bottom: 0;
    }
  }
}
