$primary-color: #1e88e5;
$animation-duration: 0.4s;

@mixin l-active() {
  font-size: 12px;
  transform: translateY(-14px);
}

.c-input--is-active {
  border-bottom: 2px solid $primary-color;
  transition: all $animation-duration;

  .c-input__label {
    color: $primary-color;
    @include l-active();
  }
}

.c-input--is-filled {
  .c-input__label {
    @include l-active();
  }
}

.c-input__label {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
}

.c-input__group {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all $animation-duration;
    width: 1%;
  }
}

.c-input__field {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  outline: 0;
  padding: 14px 12px 10px 12px;
  width: 100%;
}
