.c-header {
  background-color: $card-bg;
  min-height: 240px;
  margin-top: 0.5rem;

  .c-button__wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .c-button {
    right: 15px;
    float: right;
    position: relative;
    padding: 5px 12px;

    :hover {
      cursor: pointer;
    }
  }
}

.container {
  width: $mobile-container;
}

.c-header {
  .c-button {
    border: 0;
    background-color: #fff;
    color: #1e88e5;
    font-weight: 700;
    text-transform: uppercase;
  }

  .c-layout:first-child {
    min-height: 65px;
    display: table;
    width: 100%;
  }

  .c-layout:nth-child(2) {
    display: none;
  }

  .c-layout:last-child {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 200px;
  }

  .c-container__25-d {
    grid-column: span 12;
    margin: auto;

    .c-container {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      width: 100%;
      position: relative;
    }
  }

  .c-container__75-d {
    grid-column: span 12;

    .c-container {
      padding-left: 15px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      height: 65%;
      padding-top: 25px;

      .c-col__7 {
        grid-column: span 12;

        .c-info__list:first-child {
          justify-content: center;
        }
      }

      .c-col__5 {
        grid-column: span 12;

        .c-info__list {
          text-align: center;
        }

        .c-info__list:last-child {
          padding-top: 12px;
        }
      }
    }

    > .c-info__list {
      padding-left: 15px;
      display: flex;
      align-items: center;
    }
  }

  hr {
    display: none;
  }
}

@media (min-width: $tablet) {
  .container {
    width: $tablet-container;
  }

  .c-header {
    .c-layout:first-child {
      min-height: 65px;
      display: table;
      width: 100%;
    }

    .c-layout:nth-child(2) {
      min-height: 50px;
    }

    .c-layout:last-child {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      min-height: 200px;
    }

    .c-container__25-d {
      grid-column: span 3;
      margin: auto;

      .c-container {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        width: 100%;
        position: relative;
      }
    }

    .c-container__75-d {
      grid-column: span 9;

      .c-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: 65%;
        padding-top: 25px;

        .c-col__7 {
          grid-column: span 7;

          .c-info__list:first-child {
            justify-content: left;
          }
        }

        .c-col__5 {
          grid-column: span 5;
          display: grid;
          grid-template-columns: repeat(12, 1fr);

          .c-info__list {
            grid-column: span 6;
            text-align: center;
          }

          .c-info__list:last-child {
            padding-top: 12px;
          }
        }
      }

      > .c-info__list {
        padding-left: 15px;
        display: flex;
        align-items: center;
        float: right;
        right: 20px;
        position: relative;
      }
    }

    hr {
      position: relative;
      top: 150px;
      z-index: auto;
      background-color: #000;
      display: block;
      height: 1.5px;
    }
  }
}
