$font-stack: 'Raleway', sans-serif;
$bg-color: #f2f2f2;
$card-bg: #ffffff;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$mobile-container: 93%;
$tablet-container: 720px;
$desktop-container: 960px;
