@import 'variables';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2)
    format('woff2');
}

* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  background-color: $bg-color;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.container > * {
  margin: 2rem 0;
}

.container:first-child {
  margin-top: 0;
}

.container:last-child {
  margin-bottom: 0;
}

.c-info__list {
  padding: 6px 0;
  font-size: small;
  display: flex;
}

.c-col__7 {
  .c-info__list {
    &:first-child {
      font-weight: 700;
      font-size: x-large;
    }

    &:nth-child(2),
    &:nth-child(3) {
      align-items: center;
    }

    > * {
      padding-right: 8px;
    }
  }
}

.c-icon {
  height: 1.3rem;
  width: 1.3rem;
}

@media (min-width: $tablet) {
  .container {
    width: 970px;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 1170px;
  }
}

@import 'components/header/style', 'components/header/menu/style',
  'components/main/style', 'components/main/form/style';
